<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Sistem Inventaris Barang</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-card>
    <ion-card-content>

      <ion-input
        label="Nama Barang"
        labelPlacement="floating"
        fill="outline"
        [(ngModel)]="namaBaru">
      </ion-input>

      <br>

      <ion-input
        label="Harga"
        labelPlacement="floating"
        fill="outline"
        [(ngModel)]="hargaBaru">
      </ion-input>

      <br>

      <ion-button expand="block" (click)="kirimData()">
        Kirim ke Server
      </ion-button>

    </ion-card-content>
  </ion-card>

  <ion-list>
    <ion-item *ngFor="let barang of listBarang">
      <ion-label>
        <h2>{{ barang.nama }}</h2>
        <p>Rp {{ barang.harga }}</p>
      </ion-label>
    </ion-item>
  </ion-list>

</ion-content>
