ion-content {
    --background: linear-gradient(180deg, #118eea 0%, #ffffff 40%);
}

.saldo-card {
    background: rgba (255, 255, 255, 0.9);
    backdrop-filter: blur (10px);
    border-radius: 20 px;
    padding: 20px;
    margin: 20px;
}

.qr-box {
    display: flex;
    justify-content:center;
    margin-top: 20px;
}